.bio {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.pic {
  width: 400px;
  height: 800px;
  display: flex;
  flex-direction: column
}

.bio-body {
  padding-left: 3rem;
  width: 40%;
  font-size: 1.4rem;
}

.links {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 30%;
  height: 1.5rem;
  margin: .45rem;
  font-size: 1.5rem;
}



.logo {
  margin-left: .3rem;
  padding-top: .1rem;
}




@media only screen and (max-width: 650px) {
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pic {
    width: 200px;
    height: 200px;
  }

  .bio-body {
    width: 80%;
    font-size: 1.2rem;
  }

}